<p class="text-center" style="font-size: 25px; color: #404; padding: 20px;">
  Hier kunt u kiezen uit de verschillende categorieen van producten in de webshop.
</p>
<hr>
<div class="row">
  <div class="col-md-4 text-center ">
    <button type="button" class="btn btn-info pull-right" style="background-color: #404; font-size: 30px">
      Gitaar acoustisch
      <img src="/assets/img/categories/acoustic.png" alt="Acoustic picture" class="img-responsive center-block">
    </button>
  </div>
  <div class="col-md-4 text-center">
    <button type="button" class="btn btn-info" style="background-color: #404; font-size: 30px">
      Gitaar electrisch
      <img src="/assets/img/categories/electric.png" alt="Electric picture" class="img-responsive center-block">
    </button>
  </div>
  <div class="col-md-4 text-center">
    <button type="button" class="btn btn-info pull-left" style="background-color: #404; font-size: 30px">
      Hoofdtelefoon
      <img src="/assets/img/categories/headphones.png" alt="Headphones picture" class="img-responsive center-block">
    </button>
  </div>
</div>
<hr>
